/**
* Styles for one page child front-page
*/

/* CONTENT AREA */
@media screen and (max-width: 1539px) and (min-width: 1160px){ 
    .content-area.one-page {
         margin-left: 0; 
        padding-left: 0; 
    }
}

.indent {
    max-width: 1000px;
    margin: 0 auto;
}


@media screen and (max-width: 1099px) {
    .indent {
        margin: 0;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 320px) {
    .indent {
        margin: 0 2rem;
    }
}

.content-area {
	background: #fff;
	background: hsl(0, 0%, 100%);
}
				
/*CALL TO ACTION*/ 
#call-to-action {
    color: #fff;
    color: hsl(0, 0%, 100%);
    //background: hsl(312, 20%, 40%);
    padding: 4rem 0;
}

/* SERVICES */
#services {
    padding: 4rem 0;
    background: #b2b2b2 url(images/pattern.svg) repeat;
}

/* TESTIMONIALS */
#testimonials {
    padding: 4rem 0;
    background: #a2a2a2;
    //background: hsl(0, 0%, 90%);
}

/* PORTFOLIO */
#portfolio {
    padding: 4rem 0;
    background: #ffffff;
    //background: hsl(0, 0%, 90%);
}


/* ABOUT */ 
#about {
    padding-top: 4rem;
    padding-bottom: 6rem;
	color: #fff;
    color: hsl(0, 0%, 100%);
    background: #626262;
    //background: hsl(204, 100%, 24%);
}

/* CONTACT */
#contact {
    padding: 4rem 0;
}

